h1{
	margin: 0px;
}
p{
	line-height: 10px;
}
.main{
	line-height: 50px;
	background: white;
}
h3{	
		float: right;
		
	}

	.mainblock{
		float: right;
	}
	p{
		line-height: 30px;
	}
.main1{
	width: 1200px;
}

body{
	padding: 0;
	margin: 0;
	background: dimgray;
}
.navi{
	
	text-align: right;
	height: 70px;
	line-height: 70px;
	background: black;
}
.into{
	float: right;
}
.welcome{
	padding: 50px;
}
.intro{
	padding: 50px;
}
.menu{
	margin: 0 30px 0 0;
}
.menu a {
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	line-height: 70px;
	border: 1px solid transparent;
}
a.active,a:hover{
	border: 1px solid white;
	transition: .5s;
}
span{
	color: blue;

}
label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	color: white;

}
#toggle{
	display: none;
}
@media only screen and (max-width: 500px){
	label{
		display: block;
		cursor: pointer;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		
		margin: 0;
		background: black;
	}
	#toggle:checked + .menu{
		display: block;
	}
	a.active,a:hover{
	border: none;
	color: blue;
}
.intro{
	padding: 205px;
	margin-left: -205px;

}
.into{
	float: left;

}
.welcome{
	margin-top: -205px;
}
.main1{
	width: 800px;
}
.test{
	padding: 270px;
	margin-left: -270px;
}
}

.image{
	float: left;
	padding: 250px;
	margin-top: -80px;
	margin-right: -500px;
}
.image2{
	padding: 190px;
	margin-top: -20px;
}
.wel{
	text-align: center;
}

.grid_container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 400px 200px;
	grid-gap: 5px;
	background-color: gray;
	padding: 10px;
}
.item1{
	grid-area: 1 / 2 / 5 / 6;
}
.grid_container > div{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}